{% extends 'base.html.twig' %}
{% set pTitle = "Authors list" %}
{% block title %}{{ pTitle }}{% endblock %}

{% block body %}
    <h2>{{ pTitle }}</h2>
    
    <form>
        <input name="searchfor" value="{{ searchfor }}" />
        <button>Search</button> (you can search by part of name)
    </form>
    <hr>
<div id="authors">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Books count (calculated from entity)
            </th>
            <th style="text-align: left;">
                Books count (updated from listener)
            </th>
        </tr>
    {% for author in authors %}        
        <tr>
            <td>
                {{author.name}}
            </td>
            <td style="text-align: center">
                {{author.books.count()}}
{#                |
                {% set firstBook=0 %}
                {% for book in author.books %}
                    {% if firstBook == 1  %}
                        ,
                    {% endif %}
                    {{ book.title }}

                    {% set firstBook=1 %}
                {% endfor %}#}
            </td>
            <td style="text-align: center">
                {{author.booksCount}}
            </td>
            <td>
                <a href="{{ path('app_authorshow',{'id':author.id}) }}">Edit</a>
            </td>
            <td>
                <a href="{{ path('app_authordelete',{'id':author.id}) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ path("app_authorshow",{'id':0}) }}">Add author</a>
</div>
{% endblock %}
