{% extends 'base.html.twig' %}
{% set pTitle = "Books list" %}
{% block title %}{{ pTitle }}{% endblock %}

{% block stylesheets %}
    <style>
        input:read-only {
            border: solid 2px white;
            background: lightgray;
        }

        .centered {
            position: fixed; /* or absolute */
            top: 50%;
            left: 25%;
            width: 10em;
            height: 3em;
            margin: -50px 0 0 -100px;
            background: #f0f0f0;
            text-align: center;
            line-height: 3em;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/books.js"></script>
{% endblock %}


{% block body %}
    <h2>{{ pTitle }}</h2>
    <form>
        <input name="searchfor" value="{{ searchfor }}"/>
        <button>Search</button>
        (you can search by part of any field)
    </form>
    <hr>
    <div id="books">
        <form>
            <input style="text-align: center" disabled="disabled" value="Title">
            <input style="width: 25em;text-align: center" disabled="disabled"
                   value="Description">
            <input style="text-align: center" disabled="disabled" value="Year">

        </form>
        {% for book in books %}
            <form id="formForInline_{{ book.id }}">
                <input name="title" value="{{ book.title }}" readonly oldvalue="">
                <input name="description" value="{{ book.description }}" style="width: 25em"
                       readonly oldvalue="">
                <input name="year" value="{{ book.year }}" readonly oldvalue="">
                <span style="display:inline-block;width:170px;margin: 0px">
                    <button type="button" bookId="{{ book.id }}" class="book_save" hidden>
                        Save
                    </button>
                    <button type="button" bookId="{{ book.id }}" class="book_edit">Edit inline
                    </button>
                    <button type="button" bookId="{{ book.id }}" class="book_delete">
                        Delete
                    </button>
                </span>
                {% if book.coverFilename != "" %}
                    <img src="{{ asset('uploads/covers/' ~ book.coverFilename) }}" width="60" height="30"
                         alt="cover's gone">
                {% else %}
                    <span style="min-width : 60px">No cover</span>
                {% endif %}
                <a href="{{ path('app_bookedit',{'id':book.id}) }}">Edit in new form</a>

                <br>Author(s):&nbsp
                {% set firstAuthor=0 %}
                {% for author in book.authors %}
                    {% if firstAuthor == 1 %}
                        ,
                    {% endif %}
                    {{ author.name }}

                    {% set firstAuthor=1 %}
                {% endfor %}
            </form>
        {% endfor %}

        <hr>
        <a href="{{ path("app_bookcreate") }}">Add book</a>
    </div>
<div class="centered" hidden>Wait...</div>





{% endblock %}
